annotated-types
cachetools
certifi
cffi
charset-normalizer
colorama
comtypes
contourpy
cycler
filelock
filetype
fonttools
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
iniconfig
Jinja2
joblib
keyboard
kiwisolver
MarkupSafe
matplotlib
mpmath
nets
networkx
numpy
opencv-python
opencv-python-headless
packaging
pandas
pillow
pluggy
proto-plus
protobuf
psutil
py-cpuinfo
pyasn1
pyasn1_modules
PyAudio
pycparser
pydantic
pydantic_core
pydub
pyparsing
pypiwin32
pytest
python-dateutil
python-dotenv
pyttsx3
pytz
PyYAML
requests
requests-toolbelt
roboflow
rsa
scikit-learn
scipy
seaborn
setuptools
six
sounddevice
SpeechRecognition
standard-aifc
standard-chunk
sympy
threadpoolctl
torch
torchaudio
torchvision
tqdm
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
uritemplate
urllib3
uv
