absl-py
astunparse
attrs
certifi
cffi
charset-normalizer
contourpy
cycler
filelock
flatbuffers
fonttools
fsspec
gast
google-pasta
grpcio
h5py
idna
jax
jaxlib
Jinja2
joblib
keras
kiwisolver
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml_dtypes
mpmath
mtcnn
namex
networkx
numpy
opencv-contrib-python
opencv-python
opt_einsum
optree
packaging
pillow
protobuf
PyAudio
pycparser
Pygments
pyobjc
pyparsing
python-dateutil
pyttsx3
requests
rich
scikit-learn
scipy
sentencepiece
setuptools
six
sounddevice
SpeechRecognition
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
torch
torchvision
typing_extensions
urllib3
Werkzeug
wheel
wrapt
